/*==================================*/
            /* BASIC SETUP */
/*==================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family:sans-serif

}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
	
}

ul li{
    list-style-type: none;
	
}

/*==================================*/
            /* REUSABLE COMPONENTS */
/*==================================*/               
.row{
    max-width:1140px;
    margin: 0 auto;
}



/*==================================*/
            /* HEADER SECTION */
/*==================================*/ 

header{
    
	height: 85vh;
	
	
}

.logo{
    height: 35px;
    width: auto;
    margin-top: 35px;
    float: left;
}

/*================ MAIN NAVICATION ==================*/ 

.main-nav{
    float: right;
    margin-top: 40px;
	
	
}

.main-nav li{
    display: inline-block;
    margin-left: 10px;
	
}



.main-nav li:first-child{
   margin-left: 0;
}


.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
	padding: 4px 16px;
	border-radius: 3px;
	color: #151212
	
    
}


.main-nav li:hover {
  background-color: yellow;
	border-radius: 35px;
}



/*==================================*/
            /* Hi, I'am */
/*==================================*/
.text{
	text-align:;
	position: absolute;
	top: 30%;
	left: 30%;
	
}



/*==================================*/
            /* HEADER PICTURE */
/*==================================*/

.picture-1 img{
	height: 220px;
	
}

.picture-1{
	position: absolute;
	top: 20%;
	left: 60%;
		
}
	



/*==================================*/
            /* BUTTON CONTACT */
/*==================================*/
.button1{
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: #942FF9;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  border-radius:5px;
  cursor: pointer;
	  

  
}

.button1 .hover{
	background-color: red;
}

.contact2{
	color: white;
	text-decoration: none;
}


	
/*==================================*/
            /* SOCIAL ICON  */
/*==================================*/

#icon img{
	height: 30px;
	width:20px;
		
}


#icon{
	position: absolute;
	top: 32%;
	left: 10%;
	display: grid;
	grid-row-gap: 2rem;
		
}




/*==================================*/
            /* SCROLL BUTTON */
/*==================================*/

#mouse img{
;
	position: absolute;
	top: 85%;
	left: 40%;
	margin: 2px;
	padding: 2px;
		
}

#mouse img{
		height:auto;
 		display: inline-block;
		
}



/*==================================*/
            /* ABOUT SECTION */
/*==================================*/

#about{
	text-align: center;
	position:absolute;
	top:110% ;
	left: 45%;
}


.about-pic img{
	height: 200px;
	position: absolute;
	top: 130%;
	left: 25%;
	
}

.about-text{
	position: absolute;
	top: 130%;
	left: 60%;
}

#project-count{
	position: absolute;
	top: 160%;
	left: 60%;

		
}

#project-count{
	display:inline-block;
}





#about-me{
	position: absolute;
	top: 150%;
	left: 60%;
}


.about-button{
  
  position:relative;
  background-color: #942FF9;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius:2px;
  text-decoration: none;
  top: 50px;
}

.download-button{
	color:white;
	text-decoration: none;
}

.count_info{
	display: flex;
	justify-content:flex-end;
	margin-bottom: 
}



/*==================================*/
            /* SKILL SECTION */
/*==================================*/


.skill-section{
	position: absolute;
	top: 220%;
	text-align: center;
	left: 45%;
}




/*==================================*/
            /* FRONTEND PROGRESS BAR */
/*==================================*/

.skill-bars{
	padding: 25px;
	width: 500px;
	background: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	border-radius:10px 0;
}


#front1{
	position: absolute;
	top: 250%;
	left: 30%;
	text-align: center;
	margin: 2px;
	padding: 2px;
	color: green;
}

.skill-bars .bar{
	margin: 20px;
}

.skill-bars .bar:first-ohild{
	margin-top: 0px;
}

.skill-bars .bar .info{
	margin-bottom: 5px;
}

.skill-bars .bar .info span{
	font-weight: 500px;
	font-size: 16px;
	
	animation: shiwText 0.5s 1s linear forwards;
}

.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}




#abul{
	position: absolute;
	top: 260%;
	left: 30%;
}




/*==================================*/
       /* QUALIFICATION SECTION */
/*==================================*/

.qualification{
	position: absolute;
	top: 348%;
	left: 50%;
	text-align: center;
	margin: 3px;
}

.qualification h1{
	margin: 3px;
}
.qualification p{
	margin: 5px;
}

.line-pic{
	position: absolute;
	top: 152em;
	left: 54%;
}

.edu{
	position: absolute;
	top: 148em;
	left: 42%;
	margin: 2px;
	padding: 2px;
	
	
}

.edu-icon{
	position: absolute;
	top: 147em;
	left: 35%;
	padding: 1px;
	

	
}

.edu-icon img{
	height: 60px;
}
.elec{
	position: absolute;
	text-align: center;
	top: 152em;
	left: 30%;
	color: green;
		
		
}

.web{
	position: absolute;
	top: 166em;
	left: 30%;
	color: green;
	text-align: center;
}

.web-design{
	position: absolute;
	top: 148em;
	left: 60%;
	margin: 2px;
	padding: 2px;
	
}

.web2{
	position: absolute;
	top: 174em;
	left: 60%;
	color: green;
	text-align: center;
	
}

.work-icon{
	position: absolute;
	top: 147em;
	left: 55%;
	padding: 1px;
}

.work-icon img{
	height: 60px;
	
}

.web22{
	position: absolute;
	top: 159em;
	left: 60%;
	color: green;
	text-align: center;
	
}



/*==================================*/
            /* SERVICE SECTION */
/*==================================*/

.service{
	position: absolute;
	top: 185em;
	left: 50%;
	text-align: center;
}

.digital{
	position: absolute;
	top: 200em;
	left: 15em;
	text-align: center;
		
}

.digital{
	border: 1px solid;
	height: 15em;
	width: 15em;
	
}

.view-icon-1{
	position: relative;
	top: 30px;
}


.digital2{
	position: absolute;
	top: 200em;
	left: 40em;
	border: 1px solid;
	height: 15em;
	width: 15em;
	text-align: center;
	
}

.digital3{
	position: absolute;
	top: 200em;
	left: 60em;
	border: 1px solid;
	height: 15em;
	width: 15em;
	text-align: center;
}



/*==================================*/
            /* PORTFOLIO SECTION */
/*==================================*/

.portfolio{
	position: absolute;
	top: 238em;
	left: 50%;
	text-align: center;
	
}

.portfolio-text{
	position: absolute;
	top: 250em;
	left: 55em;
}

.portfolio-img{
	position: absolute;
	top: 250em;
	left: 25em;
	border: 1px solid;
	
}


.portfolio-img img{
	height: 200px;
	
}

.demo-button{
	
	text-align: center;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 260em;
	left: 70%;
	background-color: #942FF9;
	padding-left: 30px;
	padding-right: 60px;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 50px;
	border-radius: 2px;
	text-decoration: none;
	
}

.demo-button2{
	text-decoration: none;
	color: white;
}


.new-project{
	position: absolute;
	top: 285em;
	left: 18em;
	height: 40%;
	width: 60%;
	background-color:rgb(148, 47, 249);
	border-radius: 15px;
		
		
}

.new-pro-pic{
	position: absolute;
	top: 288em;
	left: 64%;
	
}

.new-pro-pic img{
	height: 200px;
}

.project-text{
	position: absolute;
	top: 290em;
	left: 30%;
	color: white;
		
}

.project-p-tag{
	color:#d3c8c8;
}

.project-button{
	position: absolute;
	top: 237em;
	left: 30%;
	height: 25px;
	
}

.project-button{
  background-color: #fff;
  padding: 2px 20px;
  text-align: center;
  font-size: 20px;
  border-radius:5px;
	cursor: pointer;

	

}

.project-button:hover{
	color: tomato;
	transition: .4s;
}
.con{
	text-align: center;
	text-decoration: none;
	color:black;
	font-weight: bold;
	
	
}




/*==================================*/
            /* TESTIMONIAL SECTION */
/*==================================*/

.testimonial{
	position: absolute;
	top: 320em;
	left: 50%;
	text-align: center;
}

.jack-pic{
	position: absolute;
	top: 330em;
	left: 25%;
}

.star{
	position: absolute;
	top: 333em;
	left: 35%;
	
}

.shilpi-pic{
	position: absolute;
	top: 330em;
	left: 60%;
}

.star2{
	position: absolute;
	top: 333em;
	left: 70%;
	
	
	
/*==================================*/
            /*  CONTACT ME */
/*==================================*/
}

.contact-text{
	position: absolute;
	top: 355em;
	left: 45%;
	text-align: center;
		
		
}

.contact-box{
	width: 500px;
	background-color:  #efefef;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

form{
	margin: 35px;
}
.input-field{
	width: 400px;
	height: 40px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline:none;
}

form{
	margin: 35px;
	
}

.input-field{
	width: 400px;
	height: 40px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #777;
	border-radius: 14px;
	outline: none;
}

.textarea-field{
	height: 150px;
	padding-top: 10px;
}

.btn{
	border-radius: 20px;
	color: #fff;
	margin-top: 18px;
	padding: 10px;
	background-color: #3d1ae4;
	font-size: 16px;
	cursor:pointer;
}
	
.contact-box{
	position: absolute;
	top: 380em;
}




/*==================================*/
            /*  CONTACT ME */
/*==================================*/


.footer{
	position: absolute;
	top: 410em;
	
	height: 40%;
	width: 100%;
	background-color:  #4424de;
}

.logo-text{
	position: absolute;
	top: 415em;
	left: 6em;
	
}


.logo-pob{
	text-decoration: none;
	color: white;
}

.logo-isl{
	text-decoration: none;
	color: white;
}

.footer-menu{
	position: absolute;
	top: 414em;
	left: 35em;
	
}

.footer-menu ul {
	margin-left: 5px;
	padding: 5px;
	font-size: 20px;
}

.footer-menu ul li{
	display: inline-block;
	margin-left: 60px
	
}

.foot-1{
	text-decoration: none;
	color: white;
	margin: auto;
}
.foot-2{
	text-decoration: none;
	color: white;
}
.foot-3{
	text-decoration: none;
	color: white;
}
#footer-icon img{
	height: 30px;
	width:20px;
		
}


#footer-icon{
	position: absolute;
	top: 414em;
	left: 80%;
	display: inline-grid;
	grid-row-gap: 6rem;
	word-spacing: 30px;
	text-decoration: none;
	
		
}

.copyright-icon img{
	position: absolute;
	top: 423em;
	height: 20px;
	left: 45%;
}

.copy-text{
	position: absolute;
	top: 423em;
	left: 48%;
}